build_reports:
  image: canardconfit/projet-with-reports-template:latest
  script:
    - cd "$CI_PROJECT_DIR"
    - export FORCE_REBUILD=$( [ "$CI_PIPELINE_SOURCE" == "web" ] && echo "true" || echo "false" )
    - export GIT_REPO_PATH="$CI_PROJECT_DIR"
    - sh /data/build_reports.sh
  artifacts:
    paths:
      - "*.pdf"
      - "*.tex"