image: canardconfit/project-with-reports-template:latest

variables:
  GIT_SUBMODULE_STRATEGY: recursive

build_reports:
  script:
    - |
      if [ "$CI_PIPELINE_SOURCE" == "web" ]; then
        ./build_reports.sh true
      else
        ./build_reports.sh false
      fi
  artifacts:
    paths:
      - "*.pdf"
      - "*.tex"